# Package Files #
*.jar
*.war
*.ear
*.db

.idea/artifacts/
.idea/compiler.xml
.idea/copyright/
.idea/description.html
.idea/encodings.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__javax_servlet_jsp_jsp_api_2_1.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_1_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_1_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_1_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_1_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_1_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_1_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_1_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_1_1_RELEASE.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/runConfigurations/
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
